<ion-content class="main">
  <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
  <ion-card >
    <ion-card-header>
      <ion-title><img src="assets/icon/duoc.png"width="90" heigth="90" alt="" loading="lazy"> Te LlevoApp</ion-title>
    </ion-card-header>
    <ion-card-content>
        <ion-item>
          <ion-label>Su cuenta ha sido creada con éxito.</ion-label>
        </ion-item>
      <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
        <ion-button [routerLink]="['/login']" >Aceptar</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
