<ion-content class="main">
  <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
  <ion-card>
    <ion-card-content>
      <img src="assets/icon/icono.png"/>
      <ion-card-subtitle>HOME</ion-card-subtitle>
      <ion-card-title>Te LLevoApp</ion-card-title>
  </ion-card-content>
    <ion-card-content>
      Este es un proyecto destinado a los alumnos de Duoc. (insertar maps)
    </ion-card-content>
    <ion-card-content>
      <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
        <ion-buttons slot="start">
          <ion-button [routerLink]="['/login']">Cerrar Sesion</ion-button>
        </ion-buttons>
      </div>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
  